extends uDig_layout

block title
    title uDig-Draw and Guess

block css
    link(rel='stylesheet' href='../stylesheets/uDig_drawer.css')
    link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
    link(rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="../stylesheets/chatlog.css")

block content
    if(user)
        input(type='hidden' id='username' value='#{user.username}')
        input(type='hidden' id='userRole' value='#{user.role}')
        input(type='hidden' id='roomId' value='#{user.roomId}')

    //myModal
    div(class="container")
        div(class="modal fade myModal" id="myModal" role="dialog")
            // Modal content
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button" class="close" data-dismiss="modal" arial-label="Close")
                        span(aria-hidden='true') &times;
                    h4(class="modal-title" id="modal-title") uDig
                div(class="modal-body" id="modal-body-alert")
                    p Game over!
                div(class="modal-footer" id="modal-footer")
                    button(type="button" class="btn btn-primary" data-dismiss="modal") Start Another Round

    div(class="container")
        div(class="modal fade myModal2" id="myModal2" role="dialog")
            // Modal content
            div(class="modal-content2")
                div(class="modal-header2")
                    button(type="button" class="close" data-dismiss="modal" arial-label="Close")
                        span(aria-hidden='true') &times;
                    h4(class="modal-title2" id="modal-title2") uDig
                div(class="modal-body2" id='modal-body-alert2')
                    p Someone bingo!!!
                div(class="modal-footer2 " id='modal-footer2')
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Start Another Round

    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
            div(class="row")
                div(class="col-md-2 navbar-header")
                    a(class="navbar-brand" href="/") uDig
                div(class="col-md-offset-6 col-md-4 leave-room" id="leave-room" aria-expanded="true")
                    button.btn.btn-default(class='leave-rm-btn' type='submit' id='leave-room-btn') Leave Room

    header(class="col-xs-12 text-center infoheaer")
        h1(class="header-h-style") You Draw I Guess
    section(class="col-xs-12 rooms-display")
        div(class='container')
            div(class='row main-row' id='main-row')
                div(class='col-xs-3')
                    h2(class="roomID") Room #{user.roomId}
                    div(class="w3-responsive w3-card-4")
                        table(class="w3-table w3-striped w3-bordered")
                            thead
                                tr(class="w3-theme")
                                    th User Name
                                    th Score
                                tbody(id='user_list' class='w3-white')
                    button(type='submit' id='startbtn' class='btn btn-lg btn-start') Start
                div(class='col-xs-6')
                    div(class='draw_area' id='draw_area')
                        div(class="w3-card-4")
                            canvas(width="500" height="300" id="myCanvas" class='myCanvas') Your browser does not support the HTML5 canvas tag
                            div(class="w3-container")
                                // p(class="canvas-text") Canvas
                                span(align='right' class="timer-comp") Time Counter
                                    i(class='glyphicon glyphicon-time' align='left')
                                    small(id='timer' class="timer")
                            div(class='row draw_tool' id='draw_tool')
                                div(class="col-xs-4")
                                    i(class='glyphicon glyphicon-pencil pencil-style' id='toolbar-btn')
                                    div(class='row' id='colorbar')
                                        div(class='color_div green_style' id='green')
                                        div(class='color_div blue_style' id='blue')
                                        div(class='color_div black_style' id='black')
                                        div(class='color_div pink_style' id='pink')
                                        div(class='color_div yellow_style' id='yellow')
                                        div(class='color_div red_style' id='red')
                                div(class="col-xs-4")
                                    i(class='glyphicon glyphicon-erase erase-style' id='eraser')
                                    div(class='row' id='brushwidth')
                                        i(class='fa fa-circle fa-1x' id='width1')
                                        i(class='fa fa-circle fa-2x' id='width2')
                                        i(class='fa fa-circle fa-3x' id='width3')
                                div(class="col-xs-4")
                                    i(class='glyphicon glyphicon-trash trash-style' id='clear')
                            input(class="keyword-board" id="keyword-board")
                    div(class='show_paintings' id='show_paintings')

                //- div(class='chatLog col-xs-3')
                //-     div(class="w3-row-padding w3-right w3-margin-top")
                //-         div(class="w3-card w3-container")
                //-             h2 Chat Log
                //-                 div(id='msglog')
                //-                     textarea(class='message_input' id='message_input')
                //-                     br
                //-                     button(class='message_send' id='message_send') Send The Message



                div(class="chat col-xs-3")
                    div(class="chat-header clearfix")
                        div(class="chat-about")
                            div(class="chat-with") Chat Log
                            div(class="chat-num-messages") chatting~ (￣３￣)a~
                        i(class="fa fa-star")
                
                    div(class="chat-history")
                        ul(id='msglog')
                            li(class="clearfix")
                                div(class="message-data align-right")
                                    span(class="message-data-name") uDig
                                div(class="message other-message float-right") Welcome
                
                    div(class="chat-message clearfix")
                        textarea(name="message-to-send" id="message_input" placeholder="Type your message" rows="3")
                        button(id='message_send') Send

block javascript
    script(type='text/javascript' src='/javascripts/establish.js')
    script(type='text/javascript' src='/javascripts/draw.js')
    script(type='text/javascript' src='/javascripts/chat.js')
    script(type='text/javascript' src='/javascripts/leaveroom.js')
    script(type='text/javascript' src='/javascripts/showuserlist.js')